.navbar {
    height: 80px;
    width: 100%;
    background-color: #2962ff;
    padding: 30px;
    border-bottom: 1px rgba(204, 204, 204, 0.863) solid;
  }
  .navbar__item__container {
    display: flex;
    text-align: center;
    list-style: none;
  }
  .navbar__item {
    margin-right: 50px;
  }
  .navbar__brand {
    color: white;
  }
  .navbar__brand:hover {
    cursor: pointer;
    color: white;
  }
  .navbar__link:visited {
    color: white;
  }
  .navbar__details {
    margin-right:20px;
  }
  .navbar__link {
    color: white;
  }
  .navbar__details {
    color: white;
  }