
.buglist {
  height: 100%;
  background-color: aliceblue;
  justify-content: center;
}
.buglist__titleContainer {
  display:flex;
  width: 100%;
  align-items: left;
  margin-left: 30px;
}
.buglist__summary {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding: 30px;
  margin-top: 30px;
}
.buglist__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
  }
.buglist__spinner {
  margin-top: 30px;
}
  .buglist__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buglist__btn {
    margin-top: 30px;
  }
  .buglist__btnContainer {
    width: 100%;

  }