
.buglist {
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
.buglist__container {
  width: 50%;
}
.buglist__card:hover {
  cursor: pointer;
}
.buglist__titleContainer {
  display:flex;
  width: 100%;
  align-items: left;
  margin-left: 30px;
}
.buglist__summary {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding: 30px;
  margin-top: 30px;
}
.buglist__nobugText {
  margin-top:30px;
}
.buglist__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
  }
.buglist__spinnerContainer { 
  display: flex;
  justify-content: center;
}
.buglist__spinner {
  margin-top: 30px;
}

  .buglist__btn {
    margin-top: 30px;
  }
  .buglist__btnContainer {
    
  }
  .buglist__searchBar {
    margin-top: 30px;
  }