.dashboard {
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    background-color: aliceblue;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: black;
  }
  .dashboard__bug__container {
    padding: 30px;
  }

