.dashboard {
  display:flex;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    background-color: aliceblue;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: black;
  }
  .dashboard__route__container {
    margin-top: 80px;
    padding: 30px;
    background-color: aliceblue;
  }
.dashboard__container {
  width: 100%;
}
