.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7dafff;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #dbf8ff;
    padding: 30px;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
  }
  .login__button {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;

  }
  .login__google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }